header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: cadetblue;
    color: white;
    font-family: Candara;
    font-size: 18px;
    height: 60px;
}

a{
    color:inherit;
    text-decoration: none;
}

.active{
    color: red;
}

nav{

}

li{
    display: inline-block;
    padding: 10px;
}

li:hover{
    color: mediumturquoise;
    border-bottom: 4px solid mediumturquoise;
}

#navAdmin{
    font-weight: bold;
}

.bodyOnglet{
    background: cadetblue;
    font-family: Candara;
}


#spanIntro{
    font-family: "Javanese Text";
    font-size: 24px;
}

img {

}

fieldset{
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 40px;
    margin-top: 50px;
    font-family: Candara;
    border-color: #263F40;
}

legend{
    font-size: 20px;
}

label{
    width: 120px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

input{
    width: 250px;
    height: 24px;
    background: lavender;
}

button{
    margin-top: 20px;
    color: #263F40;
    font-weight: bold;
    background: lavender;
}

#identifiants{
    display: flex;
    flex-direction: column;
    text-align: left;

}

h2{
    text-align: center;
    font-size: 30px;
    color: #263F40;
}

#divArticle{
    display: flex;
    flex-direction:column;
    text-align: start;
}

#divTxtImageComm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#spanId{
    text-decoration: underline;
    color: #263F40;
    text-transform: capitalize;
}

#spanTitre{
    font-size: 21px;
    color: white;
}

#pContenu{
    font-size: 17px;
    margin-left: 25px;
    width: 400px;
    text-align: justify;
}

#spanDate{
    font-style: italic;
}

#divPhoto{
    display: flex;
    flex-direction: column;
    text-align: start;

}

#spanCommentaire{
    font-style: italic; color: #263F40; font-weight: bold;
    font-size: 20px;
}